html, body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        body {
		    background-image: url("#{resource['imagens/imagemdefundologin.jpg']}");
		    background-size: cover;
			 }
        
        .card-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .card-header {
            text-align: center;
        }
        
        .card {
            width: 40rem;
            opacity: 80%;
        }

        .form-container {
            display: flex;
            justify-content: center;
        }

        #formulario {
            text-align: left;
        }

        .form-container label {
            display: block;
            font-weight: bold;
        }